pyrogram
tgcrypto
motor[srv] 
cinemagoer
aiohttp
aiofiles
asyncio
Pillow
speedtest
googletrans==3.1.0a0
requests
gtts
psutil

httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
